/* default */
html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

/* section */

.section-blank {
  width: 100%;
  height: 70px;
}

/* navbar */

nav {
  font-size: 1rem;
  position: relative;
  height: 55px;
  box-shadow: 0px 5px 5px black;
}

.navbar-pos {
  position: relative;
  left: 300px;
}
.nav-item {
  padding: 0 1rem;
}
.nav-line {
  padding-bottom: 0.5rem;
  position: relative;
}
a.nav-link.active span::before {
  visibility: visible;
  transform: scaleX(1);
}
a.nav-link span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
a.nav-link:hover span {
  color: white;
}
a.nav-link:hover span::before {
  visibility: visible;
  transform: scaleX(1);
}
@media only screen and (max-width: 1400px) and (min-width: 450px) {
  #navbarList {
    width: 100%;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    padding: 0px;
  }
  .nav-line {
    padding: 0px;
  }
  .navbar-pos {
    position: static;
  }
}
@media screen and (max-width: 450px) {
  #navbarList {
    width: 100%;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    padding: 0px;
  }
  .nav-line {
    padding: 0px;
  }
  .navbar-pos {
    position: static;
  }
}

/* home */

@media screen and (min-width: 1400px) {
  #home {
    height: 750px;
  }
  .contact-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
    background-color: black;
    width: 2.5rem;
    height: 6.5rem;
    position: fixed;
    bottom: 50%;
  }
  #mypic {
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0px 0px 15px black;
  }
  .zoom-img {
    width: 500px;
    height: 500px;
    position: relative;
    left: 300px;
    top: 100px;
  }
  .deco-area {
    height: 360px;
    width: 230px;
    position: absolute;
    bottom: 0;
    right: -230px;
    background-color: #b6b6b6;
    z-index: -1;
  }
  .name-about {
    height: 350px;
    width: 350px;
    position: absolute;
    right: -237px;
    top: -35px;
    display: flex;
    flex-direction: column;
  }
  .name-text {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
  }
  .name-icon {
    cursor: pointer;
    margin-left: 35px;
    font-size: 1.3rem;
  }
  .fab {
    padding: 0 5px;
  }
  .about-link {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    left: 50px;
  }
  .deco-dot {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  .deco-line {
    background-color: black;
    width: 100px;
    height: 2px;
  }
  .aboutBtn {
    border-radius: 0px;
    border: solid 2.5px black;
  }
  #home-con {
    position: relative;
    z-index: -2;
  }
  #home {
    position: relative;
    z-index: -2;
  }
  body {
    position: relative;
    z-index: -2;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 450px) {
  #home {
    height: 400px;
  }
  #home-con {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
    background-color: black;
    width: 2.5rem;
    height: 6.5rem;
    position: fixed;
    bottom: 50%;
    visibility: hidden;
  }
  #mypic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0px 0px 15px black;
    z-index: 10;
  }
  .zoom-img {
    width: 300px;
    height: 300px;
    position: relative;
    top: 100px;
  }
  .deco-area {
    height: 150px;
    width: 100px;
    position: absolute;
    bottom: 0;
    right: -100px;
    background-color: #b6b6b6;
    z-index: -1;
  }
  .name-about {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 60px;
    top: -15px;
    display: flex;
    flex-direction: column;
  }
  .name-text {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .name-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 0.5rem;
    display: flex;
    flex-direction: row;
  }
  .fab {
    padding: 0 5px;
  }
  .about-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    left: 50px;
    top: 15px;
  }
  .deco-dot {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    left: -2px;
    top: 13px;
  }
  .deco-line {
    position: absolute;
    background-color: black;
    width: 120px;
    height: 2px;
    top: 17px;
  }
  .aboutBtn {
    position: absolute;
    width: 80px;
    height: 40px;
    border-radius: 0px;
    border: solid 2.5px black;
    padding: 0px;
    font-size: 1px;
    right: 1px;
  }
  #home-con {
    position: relative;
    z-index: -2;
  }
  #home {
    position: relative;
    z-index: -2;
  }
  body {
    position: relative;
    z-index: -2;
  }
}
@media screen and (max-width: 450px) {
  #home {
    height: 250px;
  }
  .contact-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
    background-color: black;
    width: 2.5rem;
    height: 6.5rem;
    position: fixed;
    bottom: 50%;
    visibility: hidden;
  }
  #mypic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0px 0px 15px black;
    z-index: 10;
  }
  .zoom-img {
    width: 200px;
    height: 200px;
    position: relative;
    left: 0px;
    top: 65px;
  }
  .deco-area {
    height: 90px;
    width: 60px;
    position: absolute;
    bottom: 0;
    right: -60px;
    background-color: #b6b6b6;
    z-index: -1;
  }
  .name-about {
    height: 90px;
    width: 90px;
    position: absolute;
    left: 25px;
    top: -10px;
    display: flex;
    flex-direction: column;
  }
  .name-text {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
  }
  .name-icon {
    cursor: pointer;
    margin-left: 0px;
    font-size: 0.5rem;
    display: flex;
    flex-direction: row;
  }
  .fab {
    padding: 0 5px;
  }
  .about-link {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.5rem;
    position: relative;
    left: 50px;
    top: 15px;
  }
  .aboutBtn {
    position: absolute;
    width: 80px;
    height: 30px;
    border-radius: 0px;
    border: solid 2.5px black;
    padding: 0px;
    font-size: 0.5rem;
    left: 2px;
  }
  #home-con {
    position: relative;
    z-index: -2;
  }
  #home {
    position: relative;
    z-index: -2;
  }
  body {
    position: relative;
    z-index: -2;
  }
}

/* about */
@media screen and (min-width: 1400px) {
  #about {
    height: 500px;
  }
  .about-title {
    font-size: 6rem;
    font-weight: bold;
    position: relative;
    left: 240px;
    color: #dddddd;
  }
  .about-text {
    width: 450px;
    height: 200px;
    position: relative;
    left: 300px;
  }
  .picrun {
    display: flex;
    position: relative;
  }
  .aboutPic {
    width: 600px;
    height: 350px;
    object-fit: contain;
  }
  .deco-bar {
    background-color: #4c4c4c;
    height: 15px;
    width: 420px;
    position: relative;
    left: 500px;
  }

  .carousel {
    width: 600px;
    height: 350px;
    position: absolute;
    left: 850px;
    top: -310px;
  }
  .carousel-indicators {
    width: 100px;
    height: 30px;
    position: absolute;
    left: -170px;
    bottom: -20px;
  }
  .carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    background-color: gray !important;
    border-radius: 100%;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 450px) {
  #about {
    height: 400px;
  }
  .about-title {
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    left: 0px;
    color: #dddddd;
  }
  .about-text {
    width: 450px;
    height: 200px;
    position: relative;
    left: 0px;
  }
  .picrun {
    display: flex;
    position: relative;
  }
  .aboutPic {
    width: 400px;
    height: 300px;
    object-fit: contain;
  }
  .deco-bar {
    background-color: #4c4c4c;
    height: 15px;
    width: 350px;
    position: relative;
    left: 200px;
  }
  .carousel {
    width: 600px;
    height: 350px;
    position: absolute;
    left: 550px;
    top: -260px;
  }
  .carousel-indicators {
    width: 100px;
    height: 30px;
    position: absolute;
    left: -170px;
    bottom: 30px;
  }
  .carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    background-color: gray !important;
    border-radius: 100%;
  }
}
@media screen and (max-width: 450px) {
  #about {
    height: 350px;
  }
  .about-title {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    color: #dddddd;
  }
  .about-text {
    width: 300px;
    height: 200px;
    position: relative;
    left: 0px;
  }
  .picrun {
    display: flex;
    position: relative;
    visibility: hidden;
  }
  .aboutPic {
    width: 400px;
    height: 300px;
    object-fit: contain;
    visibility: hidden;
  }
  .deco-bar {
    background-color: #4c4c4c;
    height: 15px;
    width: 350px;
    position: relative;
    left: 260px;
    visibility: hidden;
  }
  .carousel {
    width: 600px;
    height: 350px;
    position: absolute;
    left: 610px;
    top: -260px;
    visibility: hidden;
  }
  .carousel-indicators {
    width: 100px;
    height: 30px;
    position: absolute;
    left: -170px;
    bottom: 30px;
    visibility: hidden;
  }
  .carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    background-color: gray !important;
    border-radius: 100%;
    visibility: hidden;
  }
}

/* project */
@media screen and (min-width: 1024px) {
  #project {
    height: 700px;
    display: flex;
    flex-direction: column;
  }

  .type-frame {
    width: 15%;
    height: 600px;
    background-color: #848484;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-block {
    display: flex;
    flex-direction: row;
  }
  #htmlcss {
    background-image: url(./img/htmlcss.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #react {
    background-image: url(./img/react.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #node {
    background-image: url(./img/node.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .program-type {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 20px 0;
    border: solid 5px transparent;
  }
  .program-type:hover {
    cursor: pointer;
  }

  .program-control.active div {
    border: solid 5px black;
  }
  .project-frame {
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-title {
    margin-top: 30px;
    padding-bottom: 10px;
    padding: 0 30px;
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: solid 6px black;
  }
  .project-nav {
    margin-top: 25px;
  }

  .exibition {
    display: flex;
  }

  .ex-project {
    margin: 0px 20px;
    margin-top: 100px;
    width: 330px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #project1 {
    background-image: url(./img/musicPlayer.png);
    background-size: contain;
    background-position: center;
    position: relative;
  }
  #project1-cover {
    position: absolute;
    background: white;
    opacity: 0;
    border-radius: 10px;
    width: 330px;
    height: 250px;
  }
  #project1-text {
    z-index: 10;
    color: black;
    padding-top: 50px;
    font-size: 1.5rem;
    opacity: 0;
  }
  #project1-btn {
    margin-top: 50px;
    border-radius: 0px;
    border: solid 1.5px black;
    opacity: 0;
    position: absolute;
    left: 36%;
  }
  #project2 {
    background-image: url(./img/musicPlayer.png);
    background-size: contain;
    background-position: center;
    position: relative;
  }
  #project2-cover {
    position: absolute;
    background: white;
    opacity: 0;
    border-radius: 10px;
    width: 330px;
    height: 250px;
  }
  #project2-text {
    z-index: 10;
    color: black;
    padding-top: 50px;
    font-size: 1.5rem;
    opacity: 0;
  }
  #project2-btn {
    margin-top: 50px;
    border-radius: 0px;
    border: solid 1.5px black;
    opacity: 0;
    position: absolute;
    left: 36%;
  }
  #project3 {
    background-image: url(./img/comming.jpg);
    background-size: contain;
    background-position: center;
    position: relative;
  }
  #project3-cover {
    position: absolute;
    background: white;
    opacity: 0;
    border-radius: 10px;
    width: 330px;
    height: 250px;
  }
  #project3-text {
    z-index: 10;
    color: black;
    padding-top: 50px;
    font-size: 1.5rem;
    opacity: 0;
  }
  #project3-btn {
    margin-top: 50px;
    border-radius: 0px;
    border: solid 1.5px black;
    opacity: 0;
    position: absolute;
    left: 36%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 450px) {
  #project {
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  .type-frame {
    width: 20%;
    height: 400px;
    background-color: #848484;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-block {
    display: flex;
    flex-direction: row;
    height: 400px;
  }
  #htmlcss {
    background-image: url(./img/htmlcss.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #react {
    background-image: url(./img/react.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #node {
    background-image: url(./img/node.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .program-type {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px 0;
    border: solid 5px transparent;
  }
  .program-type:hover {
    cursor: pointer;
  }

  .program-control.active div {
    border: solid 5px black;
  }
  .project-frame {
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-title {
    padding-bottom: 10px;
    padding: 0 30px;
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: solid 6px black;
  }
  .project-nav {
    margin-top: 25px;
  }

  .exibition {
    display: flex;
    width: 100%;
    height: 500px;
  }

  .ex-project {
    margin: 0px 10px;
    margin-top: 50px;
    width: 60%;
    height: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #project1 {
    background-image: url(./img/musicPlayer.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  #project1-cover {
    position: absolute;
    background: white;
    opacity: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  #project1-text {
    z-index: 10;
    color: black;
    padding-top: 10px;
    font-size: 20px;
    opacity: 0;
  }
  #project1-btn {
    margin-top: 40px;
    border-radius: 0px;
    border: solid 1.5px black;
    opacity: 0;
    position: absolute;
    left: 30%;
  }
  #project2 {
    background-image: url(./img/musicPlayer.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  #project2-cover {
    position: absolute;
    background: white;
    opacity: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  #project2-text {
    z-index: 10;
    color: black;
    padding-top: 10px;
    font-size: 20px;
    opacity: 0;
  }
  #project2-btn {
    margin-top: 40px;
    border-radius: 0px;
    border: solid 1.5px black;
    opacity: 0;
    position: absolute;
    left: 30%;
  }
  #project3 {
    background-image: url(./img/comming.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  #project3-cover {
    position: absolute;
    background: white;
    opacity: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  #project3-text {
    z-index: 10;
    color: black;
    padding-top: 10px;
    font-size: 20px;
    opacity: 0;
  }
  #project3-btn {
    margin-top: 40px;
    border-radius: 0px;
    border: solid 1.5px black;
    opacity: 0;
    position: absolute;
    left: 30%;
  }
}
@media screen and (max-width: 450px) {
  #project {
    height: 1050px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .type-frame {
    width: 100%;
    height: 80px;
    background-color: #848484;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .project-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #htmlcss {
    background-image: url(./img/htmlcss.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #react {
    background-image: url(./img/react.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #node {
    background-image: url(./img/node.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .program-type {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0px 10px;
    border: solid 5px transparent;
  }
  .program-type:hover {
    cursor: pointer;
  }

  .program-control.active div {
    border: solid 3px black;
  }
  .project-frame {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-title {
    padding: 10px 30px;
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: solid 6px black;
  }
  .project-nav {
    margin-top: 25px;
  }

  .exibition {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 800px;
  }

  .ex-project {
    margin: 20px 0px;
    width: 350px;
    height: 240px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #project1 {
    background-image: url(./img/musicPlayer.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  #project1-cover {
    position: absolute;
    background: white;
    opacity: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  #project1-text {
    z-index: 10;
    color: black;
    padding-top: 10px;
    font-size: 20px;
    opacity: 0;
  }
  #project1-btn {
    margin-top: 40px;
    border-radius: 0px;
    border: solid 1.5px black;
    opacity: 0;
    position: absolute;
    left: 35%;
  }
  #project2 {
    background-image: url(./img/musicPlayer.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  #project2-cover {
    position: absolute;
    background: white;
    opacity: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  #project2-text {
    z-index: 10;
    color: black;
    padding-top: 10px;
    font-size: 20px;
    opacity: 0;
  }
  #project2-btn {
    margin-top: 40px;
    border-radius: 0px;
    border: solid 1.5px black;
    opacity: 0;
    position: absolute;
    left: 35%;
  }
  #project3 {
    background-image: url(./img/comming.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  #project3-cover {
    position: absolute;
    background: white;
    opacity: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  #project3-text {
    z-index: 10;
    color: black;
    padding-top: 10px;
    font-size: 20px;
    opacity: 0;
  }
  #project3-btn {
    margin-top: 40px;
    border-radius: 0px;
    border: solid 1.5px black;
    opacity: 0;
    position: absolute;
    left: 35%;
  }
}

/* contact */
@media screen and (min-width: 1600px) {
  #contact {
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .contact-block {
    display: flex;
    flex-direction: row;
  }

  .trapezoid {
    background-color: #dedede;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
    width: 60%;
    height: 600px;
    z-index: -1;
    position: absolute;
    overflow: visible;
  }

  .contact-frame {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    left: 200px;
    top: 20%;
  }

  .contact-info {
    font-size: 1.5rem;
    padding: 20px 0;
  }
  .contact-title {
    color: black;
    font-size: 6rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  .contact-c {
    position: absolute;
    top: 430px;
    left: 70px;
  }
  .contact-m {
    position: absolute;
    top: 500px;
    left: 700px;
  }
  .contactform {
    width: 500px;
    position: absolute;
    top: 10%;
    right: 10%;
  }
  .form-group {
    padding: 10px 0;
  }
  #usermsg {
    height: 150px;
  }
  .formBtn {
    position: absolute;
    right: 0px;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 450px) {
  #contact {
    height: 1200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-block {
    display: flex;
    flex-direction: column;
  }

  .trapezoid {
    background-color: #dedede;
    width: 100%;
    height: 550px;
    z-index: -1;
    position: absolute;
    overflow: visible;
    left: 0;
  }

  .contact-frame {
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
  }

  .contact-info {
    font-size: 1.5rem;
    padding: 20px 0;
    text-align: center;
  }
  .contact-title {
    margin-top: 100px;
    color: black;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-c {
    top: 430px;
    left: 70px;
  }
  .contact-m {
    top: 500px;
    left: 700px;
  }
  .contactform {
    margin-top: 100px;
    width: 450px;
  }
  .form-group {
    padding: 10px 0;
  }
  #usermsg {
    height: 150px;
  }
  .formBtn {
    right: 0px;
  }
}
@media screen and (max-width: 450px) {
  #contact {
    height: 900px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-block {
    display: flex;
    flex-direction: column;
  }

  .trapezoid {
    background-color: #dedede;
    width: 100%;
    height: 300px;
    z-index: -1;
    position: absolute;
    overflow: visible;
    left: 0;
  }

  .contact-frame {
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
  }

  .contact-info {
    font-size: 1rem;
    padding: 10px 0;
    text-align: center;
  }
  .contact-title {
    margin-top: 60px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-c {
    top: 430px;
    left: 70px;
  }
  .contact-m {
    top: 500px;
    left: 700px;
  }
  .contactform {
    margin-top: 50px;
    width: 300px;
  }
  .form-group {
    padding: 10px 0;
  }
  #usermsg {
    height: 150px;
  }
  .formBtn {
    right: 0px;
  }
}

/* footer */
footer {
  background-color: #4c4c4c;
  width: 100%;
  height: 60px;
}
